@model ServiceTracker.Models.CommitteeDetailsViewModel

<h2>@Model.committee.Name</h2>

<div>    
    <div class="form-group row">
        <label asp-for="committee.Name" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input type="text" asp-for="committee.Name" readonly class="form-control-plaintext">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="committee.Description" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input type="text" asp-for="committee.Description" readonly class="form-control-plaintext">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="committee.Term" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
        <input type="text" asp-for="committee.Term" readonly class="form-control-plaintext">
        </div>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.committee.Id">Edit Details</a>
    </div>
</div>
<hr>
<form asp-action="Details">   
    <div class="form-group row">
        <input type="hidden" id="Id" name="Id" value="@Model.committee.Id">
        <label asp-for="ViewYear" class="col-sm-4 col-form-label">Show Committee Members for</label>
        <select asp-for="ViewYear" style="max-width: 100px;" class="col-sm-3 form-select" asp-items="@Model.years"></select>
        <input type="submit" value="Get Members" style="max-width: 125px;" class="btn btn-info"> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a asp-action="AddMember" asp-route-id="@Model.committee.Id" class="btn btn-info"  style="max-width: 125px;" >Add Member</a>
    </div>    
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Chair</th>
            <th>ExOfficio</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.committee.Members.OrderByDescending(m=> m.Chair).ThenBy(m=> m.ExOfficio).ThenBy(m=>m.SortName))
        {
            <tr>
                <td>@member.Name</td>
                <td><input type="checkbox" checked="@member.Chair" disabled></td>
                <td><input type="checkbox" checked="@member.ExOfficio" disabled></td>
                <td>
                    @if(member.EndYear == Model.ViewYear)
                    {
                        <span class="text-danger">@member.StartYear - @member.EndYear</span>
                    } else 
                    {
                        <span>@member.StartYear - @member.EndYear</span>
                    }
                    </td>
            </tr>    
        }
        @if(!Model.committee.Members.Any())
        {
            <tr><td colspan="3">No members for selected year.</td></tr>
        }
    </tbody>
</table>
