@model ServiceTracker.Models.Committees

<h2>@Model.Name</h2>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Chair</th>
            <th>ExOfficio</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.Members.OrderByDescending(m=> m.Chair).ThenBy(m=> m.ExOfficio).ThenBy(m=>m.Employee.LastName))
        {
            <tr>
                <td>@member.Employee.Name</td>
                <td><input type="checkbox" checked="@member.Chair"></td>
                <td><input type="checkbox" checked="@member.ExOfficio"></td>
                <td>@member.Year</td>
            </tr>    
        }
    </tbody>
</table>
